.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
  width: 100%;
  position: fixed;
  height: 7%;
  bottom: 0%;
  z-index: 100;
}

.iconStyle {
  margin: 2rem 2rem;
  transition: filter 0.5s;
}

.iconStyle:hover {
  filter: brightness(60%);
  cursor: pointer;
}
