html,
body {
  padding: 0;
  margin: 0;
  font-family: "Euclid Circular A", Arial, Sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: #efefef;
  color: #010334;
}

* {
  box-sizing: border-box;
}

a {
  color: #010334;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 3%;
}

blockquote {
  border-left: 5px solid #010334;
  padding-left: 10px;
  margin-top: 5%;
}

code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.5;
  font-size: 14px;
  display: block;
  background-color: #1a1818;
  overflow: hidden;
  border-radius: 3px;
  padding: 2px;
  color: white;
}
