.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.separation {
  margin-top: 5%;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 3% 0 0 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.listItem a {
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.8s ease;
}

.listItem a:hover {
  background: #e1dbd9;
  text-decoration: none;
}

.lightText {
  color: #717677;
  padding-left: 0.5rem;
}

.lightUppercaseText {
  font-size: 12px;
  color: #717677;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

.marcoAbout {
  border: 2px solid #717677;
  border-radius: 3%;
  padding: 3%;
  margin-top: 4%;
}

.imageAbout {
  float: left;
  padding-top: 4%;
  padding-right: 2%;
}

.sloganAbout {
  text-align: right;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBusqueda {
  width: 300px;
  height: 30px;
  border: 2px solid #717677;
}
